@using Skybrud.Umbraco.GridData.Rendering
@inherits Umbraco.Web.Mvc.UmbracoViewPage<GridControlWrapper<Graph.Components.MapBlock.GridControlMapBlockValue>>

<div>@Model.Value.GridControlMabBlockItem.Title</div>
