<div data-ng-controller="MapBlock.Controller" class="umb-pane">
	<div id="mapBlock">
		<div class="umb-box">
			<div class="block-form umb-box-content">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Title</span>
							</label>
							<div class="controls controls-row">
								<input type="text" class="input-block-level" ng-model="control.value.title" required />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-form umb-box-content">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Address</span>
							</label>
							<div class="controls controls-row">
									<umb-editor model="addressRte"></umb-editor>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-form umb-box-content">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>CTA</span>
							</label>
							<div class="controls controls-row">
								<div class="gibe-link-picker">
									<p class="chosen" ng-show="control.value.link">
										<a href="{{control.value.link.url}}" target="_blank">{{control.value.link.name || control.value.link.url}}</a>
										<a class="remove" href="" ng-click="removeLink()"><i class="icon icon-delete"></i></a>
										<a class="edit" href="" ng-click="editLink(control.value)"><i class="icon icon-edit"></i></a>
									</p>
									<p class="internal-picker" ng-hide="control.value.link">
										<a class="link" href="" ng-click="chooseLink()">Choose</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-form umb-box-content">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Include coordinates in URL</span>
							</label>
							<div class="controls controls-row">
								<input type="checkbox" ng-model="control.value.includeCoordinatesInUrl" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-form umb-box-content">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Latitude</span>
							</label>
							<div class="controls controls-row">
								<input type="text" class="input-block-level" ng-model="control.value.latitude" required />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-form umb-box-content">
				<div class="umb-property">
					<div class="control-group umb-control-group">
						<div class="umb-el-wrap">
							<label class="control-label">
								<span>Longitude</span>
							</label>
							<div class="controls controls-row">
								<input type="text" class="input-block-level" ng-model="control.value.longitude" required />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
